<!DOCTYPE html>
<html>

<head>
	<title>Mata Mosquito - Fim de jogo :(</title>
	<meta charset="UTF-8" />

	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="../public/assets/css/style.css" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-center">
					<img src="../public/imagens/game_over.png" />
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<div class="d-flex justify-content-center">
					<a href="../index.html" class="btn btn-dark btn-lg">Reiniciar</a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>